
/*	General configuration
		======================================================================== */
//$max-width: 1200px;
$max-width: 100%;

// global border border-radius
$border-radius: 2px;

/*	Breakpoints
		======================================================================== */

$iPhoneLandscape: 321;
$iPadPortrait: 768;
//$iPadPortrait: 0;
$iPadLandscape: 1000;