
/*	Extensions
		everything should use the '%' extend format
		======================================================================== */

/*  Antialiased type
    ======================================================================== */

%antialiased {
	-webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   From HTML5Boilerplate
   http://html5boilerplate.com/
   ========================================================================== */

/*
 * Image replacement
 */

%ir {
	background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;

  &:before {
  	content: "";
    display: block;
    width: 0;
    height: 150%;
  }

} // %ir

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

%hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// same as above for use in breakpoints
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

%invisible {
   visibility: hidden;
}

/*  Old clearfix
    The micro method
    ======================================================================== */

%clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

} // %clearfix

/*  Unselectable
    ======================================================================== */

%disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}