/*	==========================================================================
	Blog items
	========================================================================== */

.Blog-items {
}

.Blog-item {
	@extend .clearfix;
	@include rem('margin', 2, 0);
	border-top: 5px solid $gold-light;
	background: #fff;
}

.Blog-item-image {
	float: left;
	padding-bottom: 20%;
	width: 20%;
}

.Blog-item-header {
	float: left;
	@include rem('padding', 1);
	width: 80%;
}

.Blog-item-meta {
	@extend .clearfix;
}

.Blog-item-categories {
	float: right;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		@include caps;
		text-decoration: none;
		color: $gray-light;
	}
}

.Blog-item-date {
	float: left;
	@include caps;
	color: $gray-light;
}

.Blog-item-title {
	margin: 0;
	@include sans;
	@include font-size(24);
	line-height: 1.5;

	a {
		text-decoration: none;
		color: $text;
	}
}

.Blog-item-subtitle {
	display: none;
}

.Blog-item-excerpt {
	display: none;
}

.Blog-item-content {

}

.Blog-item-footer {

}