
/*	Forms
		======================================================================== */

.Form {
	@include sans();
	@include font-size(16);
	color: $text-light;

	label {
		@extend .visuallyhidden;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		@include rem('margin-bottom', 1);
		@include rem('padding', 0.5);
		@include font-size(16);
		border: none;
		background: #ddd;

		@include placeholder {
			color: $text-light;
		}
	}

	button[type="submit"] {
		border: none;
	}

}

.Form-input-wrap {
	display: table;
	width: 100%;

	input[type="text"] {
		display: table-cell;
		width: 80%;
		height: 100%;
	}

	button[type="submit"] {
		display: table-cell;
		width: 20%;
		height: 100%;
		border-radius: 0 2px 2px 0;

		span {
			@extend .visuallyhidden;
		}
	}

}