/*	==========================================================================
	Global layout
	========================================================================== */

body {
	background: $gray-dark;
	//background: $blue-darker;
	//background: #fff;
}

.browsehappy {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: red;
	color: #fff;
}

.container,
.u-container {
	@extend .clearfix;
	position: relative;
	margin: 0 auto;
	@include rem('padding', 0, 1);
	max-width: 1100px;

	@include min-width ( $iPadPortrait ) {
		@include rem('padding', 0, 2);
	}

}

.align-left {
	float: left !important;
}

.align-right {
	float: right !important;
}

.u-col {
	
	@include max-width ( $bp-2 - 1 ) {
		float: none !important;
		width: auto !important;
	}

}