/*	==========================================================================
	Article
	========================================================================== */

.Article {
	@include rem('margin-bottom', 2);
	@include rem('padding-bottom', 2);
	border-bottom: 1px solid #ddd;

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.Article--mini {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.Article--excerpt {
}

.Article-thumbnail {

}

.Article-header {

}

.Article-meta {
	@extend .clearfix;
	@include caps;

	.Article-date {
		float: left;
	}

	.Article-byline {
		float: right;
		margin: 0;
	}

	.Article-categories {
		float: right;

		a {
			text-decoration: none;
			color: $text-light;
		}
	}

	.post-categories {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			@include rem('margin-left', 0.25);
		}

		a {
			text-decoration: none;
			color: $text-light;
		}
	}
}

.Article-date {
	color: $text-light;
}

.Article-title {
	@include sans;
	@include font-size(30);
	line-height: 1.25;
	font-weight: 600;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}

.Article-content {

	.read-more {
		display: block;
		@include rem('margin-top', 1);
	}

	p:last-child {
		margin-bottom: 0;
	}

}

.Article-footer {

}

.Article-category {

}