/*	==========================================================================
	Secondary menu
	========================================================================== */

.Secondary-menu {
	@include rem('margin', 1, 0, 2);

	@include min-width ( $bp-2 ) {
		@include rem('margin', 2, 0, 4);
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li {
		@extend .clearfix;
	}

	a {
		position: relative;
		display: inline-block;
		@include rem('margin', 0.5, 0);
		@include rem('padding', 0.5, 0);
		@include sans;
		@include font-size(18);
		line-height: 1.25;
		font-weight: 400;
		text-decoration: none;
		color: $blue-light;

		@include min-width ( $bp-2 ) {
			@include font-size(20);
		}

		&:hover {
			color: $blue-dark !important;
		}
	}

//	li.active .Secondary-menu-item-border,
//	li.current-menu-item .Secondary-menu-item-border,
//	li.current-menu-parent .Secondary-menu-item-border,
//	li.current-menu-ancestor .Secondary-menu-item-border,
//	li.current-page-ancestor .Secondary-menu-item-border {
	li.current_page_item .Secondary-menu-item-border {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 4px;
		background-color: $blue-light;
	}

	li.current_page_item a {
		@include rem('padding-left', 1);
	}

	li.active a,
	li.current-menu-item a,
	li.current-menu-parent a,
	li.current-menu-ancestor a,
	li.current-page-ancestor > a {
		//@include rem('padding-left', 1);
	}

}