/*	==========================================================================
	Widget
	========================================================================== */

.Widget {
	@include rem('margin', 1, 0);
	@include rem('padding', 1, 0);
}

.Widget-header {

}

.Widget-title {
	margin: 0;
	@include caps;
}

.Widget-content {
	@include rem('padding', 1, 0);
	@extend .antialiased;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.Widget.widget_categories,
.Widget.widget_archive {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	a {
		position: relative;
		display: block;
		@include rem('margin', 0.5, 0);
		@include rem('padding', 0.5, 0);
		@include sans;
		@include font-size(18);
		line-height: 1.25;
		font-weight: 400;
		text-decoration: none;
		color: $blue-light;

		@include min-width ( $bp-2 ) {
			@include font-size(20);
		}

		&:hover {
			color: $blue-dark !important;
		}
	}

	li.current-cat a,
	li.current a {
		@include rem('padding-left', 1);
		border-left: 4px solid $blue-light;
	}

}