/*	==========================================================================
	Breakpoints
	========================================================================== */

$bp-1: 321;
$bp-2: 768;
$bp-3: 1000;