/*	==========================================================================
	Type settings
	========================================================================== */

$base-font-size: 16;
$base-line-height: 1.65;

@mixin sans {
	font: {
		family: 'ff-din-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		weight: 400; 
		style: normal;
	}
}

@mixin serif {
	font: {
		family: 'ff-tisa-web-pro', Georgia, serif;
		weight: 400;
		style: normal;
	}
}

@mixin caps {
	@include sans;
	@include font-size(14);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 400;
}

html {
	font-size: percentage( $base-font-size / 16 );
	line-height: $base-line-height;
}

body {
	@include serif;
	@include font-size(18);
	color: $text;
}