/*	==========================================================================
	Icons
	========================================================================== */

.Icon-holder {
	display: inline-block;
}

.Icon {
	display: inline-block;
	@include rem('width', 1.5);
	@include rem('height', 1.5);
	background-position: 50% 50%;
	background-size: contain;
}