/*	==========================================================================
	Cards
	========================================================================== */

.Cards {
	@include rem('margin-bottom', 1);
	background-color: $blue-darker;
}

.Cards-content {
	@include rem('padding', 0.5, 0);
	min-height: 420px;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	@include min-width( $bp-2 ) {
		@include rem('padding', 0.5);
	}

	@include min-width( $bp-3 ) {
		@include rem('padding', 1);
	}
}

.Card {
	@include rem('padding', 0.5, 0);

	@include min-width( $bp-2 ) {
		@include rem('padding', 0.5);
	}

	@include min-width( $bp-3 ) {
		@include rem('padding', 1);
	}
}

.Card-inner {
	background: rgba(0,0,0,0.5);
	border-top: 5px solid $gold-light;

	#card-1 & {
		border-color: $green-light;
	}

	#card-2 & {
		border-color: $gold-light;
	}

	#card-3 & {
		border-color: $blue-light;
	}
}

.Card-header {
	@include rem('padding', 2, 2, 0);
}

.Card-title {
	//@extend .antialiased;
	margin: 0;
	@include sans;
	@include font-size(24);
	line-height: 1.25;
	color: #fff;

	@include min-width( $bp-3 ) {
		@include font-size(30);
	}
}

.Card-content {
	@extend .antialiased;
	@include rem('padding', 0, 2, 2);
	@include sans;
	@include font-size(16);
	color: #fff;

	@include min-width( $bp-2 ) {
		@include rem('padding-top', 1);
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		@include rem('padding', 0, 0.25);
		text-decoration: none;
		color: #fff;
		background: rgba(0,0,0,0.5);
		border-radius: 2px;
	}

	a:hover {
		color: #fff !important;
		background: $blue-light;
	}
}

.Card-footer {
display: none;
	@include rem('padding', 0, 2, 2);

	.Button {
		display: none;
	}
}

//.Cards-header {
//
//}
//
//.Cards-content {
//	@include rem('padding', 3, 1);
//	background: {
//		repeat: no-repeat;
//		position: center;
//		size: cover;
//	}
//}
//
//.Card {
//	@include rem('padding', 1);
//}
//
//.Card-inner {
//	border-radius: 2px;
//	overflow: hidden;
//}
//
//.Card-header {
//	position: relative;
//	@include rem('padding', 2);
//	//background: #fff;
//	//background: rgba(255,255,255,0.5);
//	background: rgba(0,0,0,0.7);
//	border-bottom: 5px solid $gold-light;
//}
//
//.Card-title {
//	margin: 0;
//	@include sans;
//	@include font-size(30);
//	line-height: 1.25;
//	color: #fff;
//	//text-align: center;
//}
//
//.Card-content {
//	@extend .antialiased;
//	@include rem('padding', 2);
//	@include sans;
//	@include font-size(20);
//	line-height: 1.25;
//	background: rgba(0,0,0,0.5);
//	background: $blue-darker;
//	color: #fff;
//
//	p:first-of-type {
//		margin-top: 0;
//	}
//
//	p:last-child {
//		margin-bottom: 0;
//	}
//}
//
//.Card-footer {
//
//	.Button {
//		display: block;
//		@include rem('padding', 1);
//		text-decoration: none;
//		color: #fff;
//		text-align: center;
//		@include caps;
//		background: rgba(0,0,0,0.7);
//		//background: $gold-light;
//	}
//}



//.Card {
//}
//
//.Card-inner {
//	display: block;
//	text-decoration: none;
//	background: $gray-dark;
//}
//
//.Card-image {
//	padding-bottom: 60%;
//	background: {
//		color: #ddd;
//		repeat: no-repeat;
//		position: center;
//		size: cover;
//	}
//}
//
//.Card-header {
//	@extend .antialiased;
//	@include rem('padding', 1, 2);
//	color: #fff;
//}
//
//.Card-title {
//	margin: 0;
//	@include sans;
//	@include font-size(24);
//}
//
//.Card-content {
//display: none;
//	@extend .antialiased;
//	@include rem('padding', 1, 2);
//	@include sans;
//	@include font-size(16);
//	color: #fff;
//
//	p:first-of-type {
//		margin-top: 0;
//	}
//
//	p:last-child {
//		margin-bottom: 0;
//	}
//
//	.Button {
//		display: block;
//		text-decoration: none;
//		color: #fff;
//		background: $blue-darker;
//		text-align: center;
//	}
//}

//.Cards-content {
//	@extend .clearfix;
//	@include rem('padding', 1, 0);
//}
//
//.Card {
//	@include rem('padding', 1);
//	
//	@include min-width ( $bp-2 ) {
//	}
//}
//
//.Card-inner {
//	display: block;
//	text-decoration: none;
//	color: $text;
//	border-radius: 2px;
//	overflow: hidden;
//	box-shadow: 0 0 10px rgba(0,0,0,0.2);
//}
//
//.Card-image {
//	min-height: 250px;
//	background: {
//		color: #ddd;
//		repeat: no-repeat;
//		position: center;
//		size: cover;
//	}
//}
//
//.Card-header {
//	@extend .antialiased;
//	@include rem('padding', 0.5, 1);
//	background: $gray-dark;
//	color: #fff;
//}
//
//.Card-title {
//	margin: 0;
//	@include sans;
//	@include font-size(18);
//	//line-height: 1.2;
//}
//
//.Card-content {
////display: none;
//	@extend .antialiased;
//	@include rem('padding', 0.5, 1);
//	background: $gray-dark;
//	color: #fff;
//	@include sans;
//	@include font-size(14);
//
//	p:first-of-type {
//		margin-top: 0;
//	}
//
//	p:last-child {
//		margin-bottom: 0;
//	}
//}