
/*	==========================================================================
	Comments
	========================================================================== */

.comments {

}

.comments-title {
	@include sans;
	@include font-size(24);
}

.comments-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment {
	@include sans;
	@include font-size(16);

	p {
		clear: both;
	}

	.reply a {
		text-decoration: none;
	}

	ol {
		list-style: none;
	}

	.children {
		@include rem('padding', 1, 0, 0, 1);
		list-style: none;
	}
}

.comment-body {
	@include rem('padding', 1);
	background: $bg-gray;
}

.comment .comment {
	//@include rem('margin', 1, 0, 0, 1);
}

.comment-author {
	float: left;

	img {
		display: inline-block;
	}

	cite {
	}

}

.comment-meta {
	float: right;
	@include caps;

	a {
		text-decoration: none;
	}
}

.comment-respond {
	@include sans;

	.comment-reply-title {
		@include font-size(24);
	}

	.logged-in-as {
		@include font-size(16);
	}

	.comment-form-comment {

		label {
			display: block;
		}

		textarea {
			width: 100%;
			@include rem('padding', 1);
			border-color: $gray-light;
		}
	}

	.form-allowed-tags {
		@include font-size(14);
		color: $text-light;
	}

	.form-submit input {
		@extend .antialiased;
		border: none;
		@include rem('padding', 1, 2);
		text-align: center;
		background: $blue-dark;
		color: #fff;

		&:hover {
			background: $blue-base;
		}
	}

} // .comment-respond