
/* 	==========================================================================
	Entries
	========================================================================== */

.entry {

	.blog & {
		@include rem('padding', 2, 0);
		@include rem('padding', 0, 0, 2);
		border-bottom: 1px solid $border-lt;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.home &,
	.search & {
		@include rem('margin', 2, 2, 2, 0);
		background: #fff;
	}

	.entry-header {

		.home & {
			@include rem('padding', 2);
		}
	}

	.entry-meta {
		@extend %caps;
		display: table;
		width: 100%;
		color: $text-md;

		a {
			text-decoration: none;
			color: $text-md;
		}
	}

	.entry-categories,
	.post-categories {
		display: table-cell;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
		}
	}

	.entry-date {
		display: table-cell;
		text-align: right;
		color: $text-md;
	}

	.entry-title {
		@extend %sans;
		@include font-size(36);
		@include line-height(48);
		font-weight: 600;
		letter-spacing: -0.025em;
		color: $text-dk;

		.home &,
		.search & {
			@include font-size(24);
			@include line-height(30);
			font-weight: 400;
			color: $text;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	}

	.entry-subtitle {
		@extend %sans;
		@include font-size(24);
		font-weight: 400;
		color: $text-md-dk;

		.home &,
		.search & {
			@include font-size(18);
		}
	}

	.entry-content {
		@extend %antialiased;

		h1, h2, h3, h4, h5, h6 {
			@extend %sans;
			font-weight: 600;
			color: $text-dk;
		}

		h2 {
			@include font-size(36);
			@include line-height(48);
		}

		h3 {
			@include font-size(24);
			@include line-height(30);
		}

		h4 {
			@include font-size(16);
		}

		.lede {
			@include font-size(24);
			@include line-height(36);

		} // .lede

		blockquote {

			p {
				position: relative;
				margin-top: 0;
				@include font-size(24);
				@include line-height(36);
			}

			cite {
				@include rem('padding-left', 2);
				font-style: normal;

				&:before {
					content: "\2013";
				}

			} // cite

		} // blockquote

		table {
			@extend %sans;
			@include font-size(16);
			@include line-height(20);
			text-align: left;

			thead,
			tfoot {
				color: $text-dk;
			}

			tbody {
				border-top: 1px solid $border-lt;
				border-bottom: 1px solid $border-lt;
			}

			td,
			th {
				@include rem('padding', 0.5, 0.5);
			}

			@include max-width ( $iPadLandscape - 1 ) {
				// responsive table stuff here
				// http://css-tricks.com/examples/ResponsiveTables/responsive.php
			}

		} // table		

	} // .entry-content

	.entry-footer {

	}

} // .entry