
/* 	==========================================================================
	Entries
	========================================================================== */

.entry {

	.blog & {
		@include rem('padding', 2, 0);
		@include rem('padding', 0, 0, 2);
		border-bottom: 1px solid $gray-light;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.home &,
	.search & {
		@include rem('margin', 1, 0);
		background: #fff;

		@include min-width ( $iPadPortrait ) {
			@include rem('margin', 2, 2, 2, 0);
		}
	}

	.entry-header {

		.home & {
			@include rem('padding', 2);
		}
	}

	.entry-meta {
		@include caps;
		display: table;
		width: 100%;
		color: $text-light;

		a {
			text-decoration: none;
			color: $text-light;
		}
	}

	.entry-byline,
	.entry-categories,
	.post-categories {
		display: table-cell;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
		}
	}

	.entry-date {
		display: table-cell;
		text-align: right;
		color: $text-light;
	}

	.entry-title {
		@include sans;
		@include font-size(24);
		line-height: 1.5;
		font-weight: 600;
		letter-spacing: -0.025em;
		color: $text;

		@include min-width( $iPadPortrait ) {
			@include font-size(36);
		}

		.home &,
		.search & {
			@include font-size(24);
			@include line-height(30);
			font-weight: 400;
			color: $text;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	}

	.entry-subtitle {
		@include sans;
		@include font-size(18);
		line-height: 1.5;
		font-weight: 400;
		color: $text-light;

		@include min-width( $iPadPortrait ) {
			@include font-size(24);
		}

		.home &,
		.search & {
			@include font-size(18);
		}
	}

	.entry-content {
		@extend .antialiased;

		h1, h2, h3, h4, h5, h6 {
			@include sans;
			font-weight: 600;
			color: $text;
			line-height: 1.5;
		}

		h2 {
			@include font-size(24);

			@include min-width ( $iPadPortrait ) {
				@include font-size(36);
			}
		}

		h3 {
			@include font-size(18);
			
			@include min-width ( $iPadPortrait ) {
				@include font-size(24);
			}
		}

		h4 {
			@include font-size(14);

			@include min-width ( $iPadPortrait ) {
				@include font-size(16);
			}
		}

		.lede {
			@include font-size(18);
			line-height: 1.5;

			@include min-width ( $iPadPortrait ) {
				@include font-size(24);
			}

		} // .lede

		// pull quotes
		blockquote {
			float: right;
			@include rem('padding-left', 2);
			max-width: 50%;
			@include sans;
			@include font-size(24);
			border-left: 5px solid $gold-light;

			p {
				position: relative;
			}

			p:first-child {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}

			cite,
			address {
				@include font-size(16);
			}

		} // blockquote

		table {
			@include sans;
			@include font-size(16);
			@include line-height(20);
			text-align: left;

			thead,
			tfoot {
				color: $text;
			}

			tbody {
				border-top: 1px solid $gray-light;
				border-bottom: 1px solid $gray-light;
			}

			td,
			th {
				@include rem('padding', 0.5, 0.5);
			}

			@include max-width ( $iPadLandscape - 1 ) {
				// responsive table stuff here
				// http://css-tricks.com/examples/ResponsiveTables/responsive.php
			}

		} // table		

		// responsive elements
		// make sure elements with WP-added height and width attributes are scaled correctly
		img,
		img.size-small,
		img.size-medium,
		img.size-full,
		img.size-large,
		img.wp-post-image
		img[class*="align"],
		img[class*="wp-image-"],
		img[class*="attachment-"],
		.wp-caption,
		.twitter-tweet-rendered {
			max-width: 100% !important;
			height: auto !important;
		}

		embed,
		object,
		iframe,
		video {
			max-width: 100%;
		}

		// alignment
		.alignleft {
			float: left;
		}

		.alignright {
			float: right;
		}

		.aligncenter {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		// margins
		img.alignleft,
		.wp-caption.alignleft {
			@include rem('margin', 0, 1, 1, 0);
		}

		img.alignright,
		.wp-caption.alignright {
			@include rem('margin', 0, 0, 1, 1);
		}

		// captions
		.wp-caption {
			margin: 0;
			padding: 0;
			width: auto !important;

			.wp-caption-text {
				margin: 0;
				@include font-size(12);
				color: $text-light;
				text-align: left;
			}

			img {
				margin: 0;
				padding: 0;
			}

		} // .wp-caption

	} // .entry-content

	.entry-footer {

	}

} // .entry