
/* 	==========================================================================
	Projects
	========================================================================== */

// this should probably be abstracted for elsewhere
.project-developers {

	p {
		@include caps;
	}

	ul {
		@include sans;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		@include font-size(16);
	}

} // .project-developers

.projects {
	position: relative;
	background: $blue-darker;

	.page-content {
		padding: 0;
	}

	.projects-slider {
		position: relative;
		width: 100%;
		height: 370px;

		@include min-width( $iPadPortrait ) {
			height: 500px;
		}

	} // .projects-slider

	.projects-arrows {
		position: absolute;
		z-index: 200;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
		max-width: 1100px;

		ul {
			position: absolute;
			z-index: 200;
			right: 0;
			bottom: 0;
			margin: 0;
			@include rem('padding', 0, 3, 3);
			list-style: none;
		}

		li {
			display: inline-block;
			@include font-size(24);
		}

		li.prev {

		}

		li.next {

		}

		a {
			text-decoration: none;
			color: #fff;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.25);

			i {

			}

			span {
				@extend .visuallyhidden;
			}

		} // a

	} // .projects-arrows

	.project {
		position: relative;
		margin: 0 auto;

		&:after {
			display: block;
			content: "";
			position: absolute;
			z-index: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 30%;
			background-image: linear-gradient( bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100% );
		}

		.project-thumb {
			width: 100%;
			height: 370px;
			background: {
				repeat: no-repeat;
				position: center;
				size: cover;
			}

			@include min-width ( $iPadPortrait ) {
				height: 500px;
			}

		} // .project-thumb

		.container {
			position: relative;
		}

		.projects-link {
			@include caps;
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			@include rem('padding', 2);
			color: #fff;
			text-decoration: none;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

			.single-project & {
			//	display: block;
			}

			i {
				@include rem('margin-right', 0.5);
				@include font-size(12);
			}

		} // .projects-link

		.project-header {
			@extend .clearfix;
			@extend .antialiased;
			position: absolute;
			z-index: 100;
			display: inline-block;
			@include rem('bottom', 3);
			@include rem('left', 2);
			width: 80%;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

			@include min-width ( $iPadPortrait ) {
				width: 50%;
			}

			&.project-header-dark {
				@include rem('bottom', 2);
				@include rem('padding', 1);
				background: #222;
				background: rgba(0,0,0,0.75);
			}

			.project-supertitle,
			.project-link {
				@include caps;
				margin: 0;
				color: #fff;
			}

			.project-title {
				@include sans;
				margin: 0;
				width: auto;
				@include font-size(18);
				@include line-height(24);
				font-weight: 600;
				color: #fff;

				@include min-width ( $iPhoneLandscape ) {
					@include font-size(20);
					@include line-height(24);
				}

				@include min-width ( $iPadPortrait ) {
					//width: 50%;
					@include font-size(36);
					@include line-height(45);
				}

				a {
					color: #fff;
					text-decoration: none;
				}

			} // .project-title

			.project-subtitle {
				display: none;

				@include min-width ( $iPadPortrait ) {
					display: block;
					max-width: 75%;
				}

				p {
					margin: 0;
					@include font-size(18);
					font-weight: 400;
					color: #fff;
					//@include rem('padding', 1, 2);
				}

				.project-link {
					@include caps;
					@include rem('padding-top', 0.5);
					color: #fff;
					text-decoration: none;
					text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

					.single-project & {
					//	display: none;
					}

				} // .project-link

			} // .project-subtitle

		} // .project-header

		.photo-credit {
			@extend .antialiased;
			@include sans;
			position: absolute;
			z-index: 200;
			right: 0;
			bottom: 0;
			margin: 0;
			@include rem('padding', 1, 2);
			@include font-size(11);
			color: #fff;
			font-weight: 400;
			text-shadow: 0px 0px 5px #000;

			@include min-width ( $iPadPortrait ) {
				@include font-size(13);
			}

		} // .photo-credit

		.project-summary {
			@include rem('padding', 3);

		} // .project-summary

	} // .project

} // .project