/*	==========================================================================
	Feed
	========================================================================== */

//.Feed {
//}
//
//.Feed-item {
//	@include rem('margin-bottom', 2);
//}
//
//.Feed-item-header {
//
//}
//
//.Feed-item-title {
//	margin: 0;
//	@include sans;
//	@include font-size(24);
//}
//
//.Feed-item-date {
//	margin: 0;
//	@include caps;
//	color: $text-light;
//}
//
//.Feed-item-content {
//	@extend .antialiased;
//}

.Feed-item {
	display: table;
	@include rem('margin-bottom', 1);
	width: 100%;
}

/**
 * For excerpts
 */
.Feed-item--excerpt {

}

/**
 * For blurbs: smaller than excerpts
 */
.Feed-item--blurb {

}

/**
 * For blurbs: link wrapper for entire blurb
 */
.Feed-item-inner {
	display: block;
	text-decoration: none;
	color: $text;

	body.home & {
		color: #fff;
	}

	&:hover {
		color: $blue-light !important;
	}
}

/**
 * For blurbs: thumbnail image
 */
.Feed-item-image {
	display: table-cell;
	width: 100px;
	height: 100px;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}
}

.Feed-item-header {

	.Feed-item--blurb & {
		@extend .antialiased;
		display: table-cell;
		vertical-align: top;
		@include rem('padding', 0, 1);
	}
}

.Feed-item-title {
	margin: 0;
	@include sans;
	@include font-size(18);
}

.Feed-item-date {
	margin: 0;
	@include caps;

	body.home & {
		color: rgba(255,255,255,0.5);
	}
}