
/*	Forms
		======================================================================== */

.Form {
	@include sans();
	@include font-size(16);
	color: $text-light;

	label {
		@extend .visuallyhidden;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		@include rem('margin-bottom', 1);
		@include rem('padding', 0.5);
		@include font-size(16);
		border: none;
		background: #ddd;

		@include placeholder {
			color: $text-light;
		}
	}

	button[type="submit"] {
		border: none;
	}

}