
/*	Forms
		======================================================================== */

form {

	$field-height: 3em;

	.field-wrap {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;

		input,
		button {
			display: inline-block;
			vertical-align: middle;
			@include font-size(12);
			border: none;
			height: $field-height;
			background: none;
		}

		input[type="text"] {
			@include rem('padding', 0.5, 1);
			width: 85%;
			background: $gray-base;
			color: $text;

			@include placeholder {
				color: $text;
			}

		} // input[type="text"]

		button[type="submit"] {
			width: 15%;
			background: $blue-dark;

			&:hover {
				background: $blue-base;
			}

			span {
				@extend .visuallyhidden;
			}

			i {
				position: relative;
				top: 0.1em;
				vertical-align: middle;
				@include font-size(18);
				color: $text;
			}

		} // button[type="submit"]

	} // .field-wrap

} // form