
/* 	==========================================================================
	Handshake statements
	========================================================================== */

.Handshake {
	display: none;

	@include min-width ( $bp-2 ) {
		position: relative;
		display: table-cell;
		width: 100%;

		&:after {
			position: absolute;
			top: 30%;
			bottom: 30%;
			right: 75%;
			display: block;
			content: "";
			@include rem('width', 1);
			border-left: 1px solid $gray-light;
		}

	}
}

// this is the item we'll animate in and out
// since it's absolutely positioned
.Handshake-inner {
	position: absolute;
	top: 0;
	right: 10%;
	bottom: 0;
	left: 25%;
	
	.js.csstransitions & {
		opacity: 0;
	}
}

.Handshake-inner.Handshake-inner--animate-in {

	.csstransitions & {
		opacity: 1;
		animation: {
			name: animateIn;
			duration: 0.5s;
			iteration-count: 1;
			direction: normal;
			timing-function: ease-in-out;
			fill-mode: forwards;
			delay: 0s;
		}
	}

}

.Handshake-inner.Handshake-inner--animate-out {

	.csstransitions & {
		opacity: 0;
		animation: {
			name: animateOut;
			duration: 0.5s;
			iteration-count: 1;
			direction: normal;
			timing-function: ease-in-out;
			fill-mode: forwards;
			delay: 0s;
		}
	}

}

.Handshake-content {
	display: table;
	width: 100%;
	height: 100%;
}

.Handshake-content-inner {
	display: table-cell;
	vertical-align: middle;
}

.Handshake-message {
	display: block;
	@include sans;
	text-transform: uppercase;
	color: #fff;
}

@keyframes animateIn {
	0% {
		transform: translateX(-0.5rem);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateX(0rem);
		opacity: 1;
	}
}

@keyframes animateOut {
	0% {
	//	transform: translateX(0px);
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
	//	transform: translateX(50px);
		opacity: 0;
	}
}