
/* 	==========================================================================
	Handshake statements
	========================================================================== */

.handshake {
	display: none;

	@include min-width ( $iPadPortrait ) {
		display: table-cell;
		width: 100%;
		height: 100%;
	}

	.handshake-item {
		position: relative;
		width: 100%;
	}

	.handshake-item-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: table;
		@include rem('padding', 0, 4);
		width: 100%;
		height: 250px;
	}

	.handshake-item-message {
		display: table-cell;
		margin: 0;
		vertical-align: middle;
		@include font-size(30);
		line-height: 1.25em;
		color: #fff;
		opacity: 0;

		.no-js & {
			opacity: 1;
		}
	}

	.handshake-item.fadeUpAndIn .handshake-item-message {
		opacity: 1;

		.cssanimations & {
			display: table-cell;
			opacity: 0;
			animation: {
				name: fadeUpAndIn;
				duration: 1s;
				iteration-count: 1;
				direction: normal;
				timing-function: ease-in-out;
				fill-mode: forwards;
				delay: 0s;
			}

		} // .cssanimations &

	} // .handshake-item.fadeUpAndIn .handshake-item-message

	.handshake-item.fadeUpAndOut .handshake-item-message {
		display: none;
		opacity: 0;

		.cssanimations & {
			display: table-cell;
			animation: {
				name: fadeUpAndOut;
				duration: 1s;
				iteration-count: 1;
				direction: normal;
				timing-function: ease-in-out;
				fill-mode: forwards;
				delay: 0s;
			}
		} // .cssanimations &

	} // .handshake-item.fadeUpAndOut .handshake-item-message

} 

@keyframes fadeUpAndIn {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeUpAndOut {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateY(-100px);
		opacity: 0;
	}
}