
/*	Media object module
		Based on http://csswizardry.com/2013/05/the-flag-object/
		======================================================================== */

.media-object {
	display: table;
	width: 100%;

	.media-object__image,
	.media-object__body {
		display: table-cell;
		vertical-align: middle;
	}

	.media-object__image {
	}

	.media-object__body {
		@include rem('padding', 1);
	}

	&.media-object--top .media-object {

	}

} // .media-object