
/* 	==========================================================================
	News items
	========================================================================== */

.news {

	@include min-width ( $iPadPortrait ) {
		@include rem('padding', 2, 0);
	}

	.news-item {
		@include rem('margin', 0, 0, 1);
		background: #fff;
		//display: inline-block;

		a {
			color: $text;

			&:hover {
				color: $highlight-blue;
			}

		} // a

		&.news-category-news .news-meta  {
			background: $fill-blue !important;
		}

		&.news-category-call .news-meta  {
			background: $fill-green !important;
		}

		&.news-category-feature .news-meta {
			background: $fill-red !important;
		}

		.news-item-header {
			display: table;

			.news-meta {
				@extend %antialiased;
				@extend %sans;
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				width: 120px;
				text-align: center;
				@include font-size(14);
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: 800;
				color: #fff;
				background: $bg-blue;

				@include min-width ( $iPadPortrait ) {
				}

				.news-date {
					display: block;
					@include font-size(13);
					color: rgba(255,255,255,0.8);
				}

			} // .news-meta

			.news-title {
				@extend %sans;
				display: table-cell;
				margin: 0;
				@include rem('padding', 1);
				@include font-size(18);
				@include line-height(24);
				font-weight: 600;

				@include min-width ( $iPadPortrait ) {
					@include rem('padding', 2);
					@include font-size(18);
					@include line-height(24);
				}

			} // .news-title

		} // .news-item-header

		.news-item-summary {

		} // .news-item-summary

	} // .news-item

} // .news