
/* 	==========================================================================
	Page
	========================================================================== */

.page-header {
	position: relative;
	display: table;
	margin: 0 auto;
	width: 100%;
	height: 370px;
	background: {
		repeat: no-repeat;
		position: center top;
		size: cover;
	}

	@include min-width ( $iPadPortrait ) {
		height: 420px;
	}

	.page-header-inner {
		display: table-cell;
		vertical-align: bottom;
	}

	h1 {
		@extend .antialiased;
		@include sans;
		margin: 0;
		@include rem('padding-bottom', 1);
		@include font-size(48);
		@include line-height(56);
		font-weight: 400;
		color: #fff;
		text-shadow: 0px 0px 10px #000;
		text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

		@include min-width ( $iPadPortrait ) {
			@include font-size(64);
			@include line-height(72);
		}

	} // h1

	.photo-credit {
		@extend .antialiased;
		@include sans;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		@include rem('padding', 1, 2);
		@include font-size(13);
		color: #fff;
		font-weight: 400;
		text-shadow: 0px 0px 5px #000;

		a {
			color: #fff;
		}
	}

} // .page-header

.page-content {
	@extend .clearfix;
	@include rem('padding', 3, 0);
	background: $bg-gray-light;

	.widget {
		@include rem('margin', 2, 2, 2, 0);

	} // .widget

} // .page-content

.page-footer {
	background: $bg-gray;

} // .page-footer