
/* 	==========================================================================
	Projects page
	========================================================================== */

.page-template-template-projects-php {

	.page-header {
		height: 160px;
		background: $blue-dark;
	}

	.page-content {
		padding: 0;
	}

} // .page-template-template-projects-php