
/* 	==========================================================================
	Profile lists
	========================================================================== */

.profile-list {

	.profile {
		@include rem('margin', 2, 0);
		@include rem('padding', 2, 0, 0);
		border-top: 1px solid $border-lt;

		.profile-header {

			.profile-image {
				display: inline-block;
				vertical-align: middle;
				width: 25%;

				img {
					max-width: 100%;
					border-radius: 50%;
				}

			} // .profile-image

			.profile-title {
				display: inline-block;
				vertical-align: middle;
				@include rem('padding', 1);
				width: 70%;

				h2 {
					margin: 0;
					@include font-size(24);
					@include line-height(36);
				}

				h3 {
					margin: 0;
					@include font-size(18);
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;
				}

				.show-profile-content {
					@extend %sans;
					display: none;
					@include rem('margin-top', 0.5);
					@include font-size(16);
					text-decoration: none;

					.js & {
						display: block;
					}

				} // .show-profile-content

			} // .profile-title

		} // .profile-header

		.profile-content {
			margin-left: 25%;
			@include rem('padding-left', 1);
			@extend %sans;
			@include font-size(16);

			&.inactive {
				height: 0;
				@extend %visuallyhidden;
			}

		} // .profile-content

	} // .profile

} // .profile-list