/*	==========================================================================
	Projects
	========================================================================== */

.Projects {
	@extend .clearfix;
	@include rem('padding', 1, 0);
	background: $blue-dark;
	//background: $bg-gray;

	@include min-width ( $bp-2 ) {
	}
}

.Projects-header {
	
}

.Projects-menu {
	@extend .antialiased;
	text-align: center;

	ul {
		@extend .clearfix;
		display: inline-block;
		margin: 0;
		@include rem('padding', 1);
		list-style: none;
		background: $blue-darker;
		border-radius: 2px;
	}

	li {
		@extend .antialiased;
		float: left;
		@include rem('margin-right', 1);

		&:last-child {
			margin-right: 0;
		}

		a {
			display: block;
			@include sans;
			@include font-size(18);
			text-decoration: none;
			color: #fff;
			background: $blue-base;
			border-radius: 2px;

			&:hover {
				background: $blue-light;
				color: #fff !important;
			}
		}
	}

	.Projects-menu-select {
		//min-width: 200px;

		a {
			display: table;
			margin: 0;
			padding: 0;
			@include sans;
			@include font-size(18);
			text-decoration: none;
			color: #fff;
			background: $blue-base;
			border-radius: 2px;
		}

		span {
			display: table-cell;
			width: 80%;
			text-align: left;
			@include rem('padding', 0.5, 1);
		}

		i {
			display: table-cell;
			@include rem('padding', 0.5, 1);
			@include font-size(14);
			//background: rgba(0,0,0,0.25);
			//border-radius: 0 2px 2px 0;
		}
	}

	.Projects-menu-search {
		
		a {
			display: block;
			@include rem('padding', 0.5, 1);
			@include sans;
			@include font-size(18);
			text-decoration: none;
			color: #fff;
			background: $blue-base;
			border-radius: 2px;
		}

		span {
			@extend .visuallyhidden;
		}

		i {
			@include rem('padding', 0.5, 1);
		}

	}

//	a {
//		display: block;
//		@include rem('padding', 1);
//		@include sans;
//		@include font-size(18);
//		text-decoration: none;
//		color: #fff;
//		background: $blue-base;
//		border-radius: 2px;
//
//		&:hover {
//			background: $blue-light;
//		}
//	}

	i {
	}

}

.Projects-home-link {
	display: block;
	@include font-size(24);
	text-align: center;
	text-decoration: none;
	color: #fff;
	color: rgba(255,255,255,0.5);

	&:hover {
		color: #fff;
	}

	span {
		@extend .visuallyhidden;
	}
}

.Projects--list {
}

.Projects--single {
}

.Project--list {
	@include rem('padding', 0, 0, 1);

	@include min-width ( $bp-2 ) {
		float: left;
		@include rem('padding', 1);
		width: 50%;
	}
}

.Project--single {

	@include min-width ( $bp-2 ) {
		@include rem('padding', 1);
	}
}

.Project-inner {
	display: block;
	text-decoration: none;
	color: $text;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
}

.Project-header {
	display: table;
	width: 100%;
	min-height: 200px;
	text-decoration: none;
	color: #fff;
	border-radius: 2px 2px 0 0;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	&:hover {
		color: #fff !important;
	}
}

.Project-title-area {
	@extend .antialiased;
	margin: 0;
	@include rem('padding', 0.5, 1);
	background: $gray-dark;
	color: #fff;
	border-bottom: 5px solid $gold-light;

	.Project--single & {
		@include rem('padding', 1, 2);
	}
}

.Project-title {
	margin: 0;
	@include sans;
	@include font-size(24);
	line-height: 1.2;

	.Project--single & {
		@include font-size(36);
	}
}

.Project-author {
	margin-bottom: 0;
	@include sans;
	@include font-size(14);

	.Project--single & {
		@include font-size(18);
	}
}

.Project-subheader {
	@include rem('padding', 0.5, 1);
	//@include sans;
	//@include font-size(14);
	background: #ddd;
	@include sans;
	@include font-size(24);
	line-height: 1.3;
	background: #222;
	color: #fff;
	@extend .antialiased;
}

.Project-content {
	display: none;
	@include rem('padding', 1);
	background: #fff;

	.Project--list & {
		border-radius: 0 0 2px 2px;
	}

	@include min-width ( $bp-1 ) {
		display: block;
	}

	@include min-width ( $bp-2 ) {
	}

	.Project--single & {
		display: block;
		@include rem('padding', 1, 2);
	}
}

.Project-excerpt {
	@include sans;
	@include font-size(16);
	line-height: 1.5;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.read-more {
		display: none;
	}
}

//.Project-footer {
//	border-radius: 0 0 2px 2px;
//	background: $gray-light;
//
//	a {
//		display: block;
//		@include rem('padding', 0.5, 1);
//		@include caps;
//		@include font-size(12);
//		text-decoration: none;
//		color: $text;
//	}
//
//	a:hover {
//	}
//}

.Project-footer-nav {
	@include rem('padding', 1);
	border-radius: 0 0 2px 2px;
	background: $bg-gray;

	ul {
		@extend .clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;

		&:last-child {
			float: right;
		}
	}

	a {
		display: table;
		@include sans;
		@include font-size(18);
		text-decoration: none;
		color: $text;

		&:hover {
		}
	}

	i {
		display: table-cell;
		@include rem('padding', 0.5);
		@include font-size(14);
	}

	span {
		display: table-cell;
		@include rem('padding', 0.5);	
	}

}