/*	==========================================================================
	Projects list
	Displays projects in a list navigation
	========================================================================== */

.Projects-list {
	@extend .clearfix;
	@include rem('padding', 2, 0);
	background: $blue-dark;
}

.Projects-list-item {
	float: left;
	@include rem('padding', 1);
	width: percentage(1/2);
}

.Projects-list-item-inner {
	display: block;
	background: #fff;
	text-decoration: none;
	color: $text;
}

.Projects-list-item-header {
	display: table;
	width: 100%;
	background: $gray-base;
	text-decoration: none;
	color: #fff;

	&:hover {
		background: $blue-base;
		color: #fff;
	}
}

.Projects-list-item-image {
	display: table-cell;
	padding-bottom: percentage(1/3);
	width: percentage(1/3);
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}
}

.Projects-list-item-title-container {
	display: table-cell;
	vertical-align: bottom;
	@include rem('padding', 1);
}

.Projects-list-item-title {
	margin: 0;
	@include sans;
	@include font-size(18);
}

.Projects-list-item-content {
	@include rem('padding', 1);
	@include sans;
	@include font-size(14);

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}