/*	==========================================================================
	Projects
	The projects index page
	========================================================================== */

.Projects {
	@extend .clearfix;
	@include rem('padding', 1, 0);
	background: $blue-dark;
}

.Projects-masonry-container {
	margin: 0 auto;
	max-width: 1100px;
}

.Project {
	float: left;
	clear: right;
	@include rem('padding', 1);
	width: 50%;
}

.Project-inner {
	display: block;
	text-decoration: none;
	color: $text;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
}

.Project-header {
	display: table;
	width: 100%;
	min-height: 200px;
	text-decoration: none;
	color: #fff;
	border-radius: 2px 2px 0 0;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	&:hover {
		color: #fff !important;
	}
}

.Project-title-container {
	display: table-cell;
	vertical-align: bottom;
	@include rem('padding', 1);
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.Project-title {
	margin: 0;
	@include rem('padding', 0.5, 1);
	@include sans;
	@include font-size(24);
	line-height: 1.2;
	background: $gray-dark;
	color: #fff;
	@extend .antialiased;
	border-bottom: 5px solid $gold-light;

	p {
		margin-bottom: 0;
		@include font-size(14);
	}
}

.Project-subheader {
	@include rem('padding', 0.5, 1);
	//@include sans;
	//@include font-size(14);
	background: #ddd;
	@include sans;
	@include font-size(24);
	line-height: 1.3;
	background: #222;
	color: #fff;
	@extend .antialiased;
}

.Project-content {
	@include rem('padding', 1);
	@include sans;
	@include font-size(14);
	line-height: 1.5;
	background: #fff;


	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.Project-footer {
	border-radius: 0 0 2px 2px;
	background: $gray-light;

	a {
		display: block;
		@include rem('padding', 0.5, 1);
		@include caps;
		@include font-size(12);
		text-decoration: none;
		color: $text;
	}

	a:hover {
	}
}