
/* 	==========================================================================
	Sign up and search forms
	========================================================================== */

.signup-form,
.search-form {
	font-size: 0;

	.form-title {
		@extend %caps;
		margin: 0;
		font-weight: 600;
	}

	label {
		//@extend %sans;
		margin: 0;
		@include font-size(14);

		.placeholder & {
			display: none;
		}

	} // label

	.input-wrap {
		display: table;
		width: 100% !important;
	}

	input[type="text"],
	button[type="submit"] {
		display: table-cell;
		@include rem('padding', 1);
		@include font-size(16);
	}

	input[type="text"] {
		@extend %sans;
		width: 90%;
		border: none;
		background: #fff;
		color: $fill-blue-dk;

		@include placeholder {
			color: $text;
		}

	} // input[type="text"]

	button[type="submit"] {
		@extend %antialiased;
		width: 10%;
		border: none;
		@include rem('padding', 1, 0);
		text-align: center;
		background: $fill-blue-dk;
		color: #fff;

		&:hover {
			background: $fill-blue;
		}

		i {
		}

		span {
			@extend %visuallyhidden;
		}

	} // button[type="submit"]

} // .signup-form

.search-form {
	@include rem('margin-bottom', 1);

	input[type="text"],
	button[type="submit"] {
		@include rem('padding', 0.5);
		@include font-size(14);
	}

	input[type="text"] {
		width: 80%;
	}

	button[type="submit"] {
		width: 20%;
	}

} // .search-form