

/*	Slideshows
		======================================================================== */

.slideshow {
	position: relative;
	width: 200%;

	.procession-slider {
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-touch-callout: none;
	user-select: none;
  }

  .procession-slider.procession-animate {
	transition: all .3s;
  }

  .slideshow-slide {

	.caption {
			opacity: 0;
			position: absolute;
			z-index: 999999;
			top: 0;
			right: 0;
			@include rem('margin', 0.75, 1);
			@include font-size(9);
			@include line-height(18);
			color: #fff;
			text-shadow: rgba(0,0,0,0.5) 0px 0px 0.5em;
		}

		&:hover .caption {
			opacity: 1;
		}


  } // .slideshow-slide

	.slideshow-arrow {
		@extend %disable-select;
		position: absolute;
		top: 50%;
		right: 50%;
		z-index: 9999999;
		@include rem('margin', -1, 0, 0, -1.35);
		@include rem('padding', 0.7);
		font-size: 0;
		line-height: 0;
		display: inline-block;
		vertical-align: middle;
		background: $bg-dk;
		background: rgba(0,0,0,0.6);
		color: #fff;
		cursor: pointer;

		@include min-width ( $iPadLandscape ) {
			right: auto;
			left: 50%;
		}

		&:hover {
			background: $bg-dk;
		}

		i {
			@include font-size(18);
		}

	} // .slideshow-arrow

} // .slideshow