
/* 	==========================================================================
	Social bits
	========================================================================== */

.social {
	text-align: center;

	@include min-width ( $iPadPortrait ) {
		text-align: right;
	}

	p {
		@extend .visuallyhidden;
	}
	
	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		text-decoration: none;

		i {
			//display: block;
			//@include rem('padding', 0.5);
			//background: $blue-darker;
			border-radius: 50%;
			color: #fff;

			&:hover {
				background: $blue-base;
			}

		} // i

		span {
			@extend .visuallyhidden;
		}

	} // a

} // .social
