/*	==========================================================================
	Stay connected widget
	========================================================================== */

.Widget--Stay-Connected {

	ul {
		@include rem('margin', 2, 0, 0);
		padding: 0;
		list-style: none;
	}

	li {
		@include caps;
	}

	a {
		text-decoration: none;
		color: $text-light;

		&:hover {
			color: $blue-light !important;
		}

		i {
			@include rem('margin-right', 0.5);
		}
	}

	

}