
/* 	==========================================================================
		Submenu
		========================================================================== */

.submenu {
	@include rem('margin', 0, 0, 1);
	@include rem('padding', 0, 0, 1);
	border-bottom: 1px solid $border-lt;


	@include min-width ( $iPadPortrait ) {
		@include rem('margin', 0, 2, 0, 0);
		padding: 0;
		border: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {

	}

	a {
		position: relative;
		display: inline-block;
		@extend %sans;
		@include rem('margin', 0.5, 0);
		@include font-size(16);
		line-height: 1.25;
		font-weight: 400;
		text-decoration: none;
		color: $fill-blue;

		&:hover {
			color: $fill-blue-dk;
		}

		@include min-width ( $iPadPortrait ) {
			@include font-size(18);
		}

	} // a

	li.active a,
	li.current-menu-item a,
	li.current-menu-parent a,
	li.current-menu-ancestor a,
	li.current-page-ancestor > a {
		@include rem('padding-left', 1);
		border-left: 4px solid $fill-blue;
	}

} // .submenu