
/* 	==========================================================================
	Submit an idea widget
	========================================================================== */

.submit-an-idea {
	@include rem('margin-top', 2);
	@include rem('padding', 2);
	background: #fff;

	> header {

		h2 {
			margin: 0;
			@include caps;
			color: $text-light;
		}

	} // > header

} // .submit-an-idea