
/* 	==========================================================================
	Widgets
	========================================================================== */

.Widget {
	@include rem('margin-bottom', 1);
	@include rem('padding', 1, 0);

	@include min-width ( $bp-2 ) {
		@include rem('margin-bottom', 2);
		@include rem('padding', 1);
	}
}

.Widget-header {
	@include rem('margin-bottom', 1);
}

.Widget-title {
	margin: 0;
	@include caps;

	body.home & {
		color: #fff;
	}
}

.Widget-content {

}