
/* 	==========================================================================
	Widgets
	========================================================================== */

.Widget {
	@include rem('margin', 1, 0);
	@include rem('padding', 1, 0);

	@include min-width ( $bp-2 ) {
	}
}

.Widget-header {
	//@include rem('margin-bottom', 1);
}

.Widget-title {
	margin: 0;
	@include caps;

	body.home & {
		color: #fff;
	}
}

.Widget-content {

}

.Widget--caption {

	.Widget-content p {
		@include sans;
		@include font-size(13);
		color: $text-light;
	}

}

.Widget--quote {
	@include sans;
	color: $text-light;

	blockquote {
		margin: 0;
		padding: 0;

		p:first-child {
			margin: 0;
		}
	}

	cite {
		font-style: normal;

		small {
			display: block;
		}
	}

}