/*	==========================================================================
	Mini articles
	========================================================================== */

.Article--mini {
	display: table;
	@include rem('margin-bottom', 1);
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	.Article-thumbnail {
		display: table-cell;
		width: 100px;
		height: 100px;
		background: {
			repeat: no-repeat;
			position: center;
			size: cover;
		}
	}

	.Article-header {
		display: table-cell;
		@include rem('padding', 0, 1);
	}

	.Article-meta {
	}

	.Article-title {
		@include font-size(18);
	}

}
