/*	==========================================================================
	Cards
	========================================================================== */

.Cards {
	background-color: $blue-darker;
}

.Cards-content {
	@include rem('padding', 0.5, 0, 0);
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	@include min-width( $bp-2 ) {
		@include rem('padding', 0.5, 0, 0);
	}

	@include min-width( $bp-3 ) {
		@include rem('padding', 1, 1, 0);
		//min-height: 420px;
	}
}

.Cards-caption {
	@extend .antialiased;
	display: inline-block;
	float: right;
	margin: 0;
	@include rem('padding', 0, 1);
	@include sans;
	@include font-size(11);
	text-align: right;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}

.Card {
	@include rem('padding', 0.5, 0);

	@include min-width( $bp-2 ) {
		@include rem('padding', 0.5);
	}

	@include min-width( $bp-3 ) {
		@include rem('padding', 1);
	}
}

.Card-inner {
	background: rgba(0,0,0,0.6);
	border-top: 5px solid $gold-light;

	#card-1 & {
		border-color: $green-light;
	}

	#card-2 & {
		border-color: $gold-light;
	}

	#card-3 & {
		border-color: $blue-light;
	}
}

.Card-header {
	@include rem('padding', 2, 2, 0);
}

.Card-title {
	margin: 0;
	@include sans;
	@include font-size(24);
	line-height: 1.25;
	color: #fff;

	@include min-width( $bp-3 ) {
		@include font-size(30);
	}
}

.Card-content {
	@extend .antialiased;
	@include rem('padding', 0, 2, 2);
	@include sans;
	@include font-size(16);
	color: #fff;

	@include min-width( $bp-2 ) {
		@include rem('padding-top', 1);
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		@include rem('padding', 0, 0.25);
		text-decoration: none;
		color: #fff;
		background: rgba(0,0,0,0.5);
		border-radius: 2px;
	}

	a:hover {
		color: #fff !important;
		background: $blue-light;
	}
}