/*	==========================================================================
	Filter menu
	========================================================================== */

.Filter-menu {
	text-align: center;
}

.Filter-menu-content {
	display: inline-block;
	@include rem('padding', 1);
	padding-bottom: 0;
	background: $blue-darker;
	border-radius: 2px;
}

.Filter-menu-item {
	@include rem('margin-right', 1);
	@include rem('margin-bottom', 1);

	&:last-child {
		margin-right: 0;
	}
}

//.Filter-menu {
//	text-align: center;
//
//	ul {
//		@extend .clearfix;
//		display: inline-block;
//		margin: 0;
//		@include rem('padding', 1);
//		list-style: none;
//		border-radius: 2px;
//		background: $gray-light;
//	}
//
//	li {
//		@extend .antialiased;
//		float: left;
//		@include rem('margin-right', 1);
//
//		&:last-child {
//			margin-right: 0;
//		}
//
//		a {
//			display: block;
//			@include sans;
//			@include font-size(18);
//			text-decoration: none;
//			color: #fff;
//			background: $blue-base;
//			border-radius: 2px;
//
//			&:hover {
//				background: $blue-light;
//				color: #fff !important;
//			}
//		}
//	}
//
//	i {
//	}
//}
//
//.Filter-menu--dark {
//
//	ul {
//		background: $blue-darker;
//	}
//
//	a {
//	}
//
//}
//
//.Filter-menu-select {
//	//min-width: 200px;
//
//	a {
//		display: table;
//		margin: 0;
//		padding: 0;
//		@include sans;
//		@include font-size(18);
//		text-decoration: none;
//		color: #fff;
//		background: $blue-base;
//		border-radius: 2px;
//	}
//
//	span {
//		display: table-cell;
//		width: 80%;
//		text-align: left;
//		@include rem('padding', 0.5, 1);
//	}
//
//	i {
//		display: table-cell;
//		@include rem('padding', 0.5, 1);
//		@include font-size(14);
//		//background: rgba(0,0,0,0.25);
//		//border-radius: 0 2px 2px 0;
//	}
//}
//
//.Filter-menu-search {
//	
//	a {
//		display: block;
//		@include rem('padding', 0.5, 1);
//		@include sans;
//		@include font-size(18);
//		text-decoration: none;
//		color: #fff;
//		background: $blue-base;
//		border-radius: 2px;
//	}
//
//	span {
//		@extend .visuallyhidden;
//	}
//
//	i {
//		@include rem('padding', 0.5, 1);
//	}
//
//}
//
//.Filter-submenu {
//	display: none !important;
//}