/*	==========================================================================
	Footer logos
	========================================================================== */

.Footer-logos {

	ul {
		@extend .clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		@include rem('padding', 1);
		width: 50%;
	}

	a {
		display: block;
		padding-bottom: 50%;
		background: {
			repeat: no-repeat;
			image: url(../../img/logos.gif);
			size: cover;
		}

		&.panda-logo {
			background-position: top;
		}

		&.mava-logo {
			background-position: bottom;
		}
	}
}