/*	==========================================================================
	Latest news widget

	Appears on the home page
	========================================================================== */

.Widget--latest-news {
	@include rem('margin', 1);
	
	.Widget-title {
		color: #fff;
	}

	.Widget-content {
		@extend .antialiased;
		color: #fff;
	}

	.Article-title {
		font-weight: 400;
	}

}