/*	==========================================================================
	Quote widget
	========================================================================== */

.Widget--quote {
	@include rem('padding-left', 0);

	blockquote {
		margin: 0;
		@include rem('padding-right', 2);
		@include sans;
		@include font-size(20);
		color: $text-light;

		@include min-width ( $bp-2 ) {
		}

		cite {
			display: block;
			@include rem('margin', 1, 0, 0);
			@include font-size(16);
			font-style: normal;
			font-weight: 600;
		}

		small {
			display: block;
		}
	}
}