/*	==========================================================================
	Import stylesheets in load order
	========================================================================== */

/*	Utilities: normalization, defaults, mixins
	========================================================================== */
@import '../../../bower_components/elcontraption-utility-normalize/normalize.scss';
@import '../../../bower_components/elcontraption-utility-defaults/defaults.scss';
@import '../../../bower_components/elcontraption-utility-mixins/mixins.scss';

/*	Config: type, colors, breakpoints
	========================================================================== */
@import 'config/breakpoints.scss';
@import 'config/colors.scss';
@import 'config/type.scss';
@import 'config/links.scss';
@import 'config/variables.scss';

/*	Plugins, external components
	========================================================================== */
@import '../../vendor/royalslider/royalslider.scss';
@import '../../vendor/icomoon/style.scss';
@import '../../../bower_components/elcontraption-utility-cols/cols.scss';

/*	Modules
	========================================================================== */
//@import 'modules/forms.scss';
@import 'modules/menu.scss';
@import 'modules/comments.scss';
@import 'modules/buttons.scss';
@import 'modules/submenu.scss';
@import 'modules/social.scss';
@import 'modules/handshake.scss';
@import 'modules/features.scss';
@import 'modules/widgets.scss';
@import 'modules/entry.scss';
@import 'modules/timeline.scss';
@import 'modules/media-object.scss';
@import 'modules/profile-list.scss';
@import 'modules/header.scss';
@import 'modules/footer.scss';
@import 'modules/page.scss';
@import 'modules/signup-form.scss';
@import 'modules/submit-an-idea.scss';
@import 'modules/pagination.scss';
@import 'modules/blog-items.scss';
@import 'modules/projects.scss';
@import 'modules/cards.scss';

/*	Layouts
	========================================================================== */
@import 'layouts/global.scss';