
/*	Utilities
		======================================================================== */
@import 'utilities/normalize.scss';
@import 'utilities/config.scss';
@import 'utilities/mixins.scss';
@import 'utilities/extensions.scss';
@import 'utilities/defaults.scss';

/*	Plugins
		======================================================================== */
@import 'plugins/royalslider/royalslider.scss';

/*	Base styles
		======================================================================== */
@import 'base/colors.scss';
@import 'base/type.scss';
@import 'base/icomoon.scss';
@import 'base/layout.scss';

/*	Modules
		======================================================================== */
@import 'modules/forms.scss';
@import 'modules/menu.scss';
@import 'modules/slideshow.scss';
@import 'modules/buttons.scss';
@import 'modules/submenu.scss';
@import 'modules/social.scss';
@import 'modules/handshake.scss';
@import 'modules/projects.scss';
@import 'modules/widgets.scss';
@import 'modules/entry.scss';
@import 'modules/timeline.scss';
@import 'modules/media-object.scss';
@import 'modules/profile-list.scss';
@import 'modules/header.scss';
@import 'modules/footer.scss';
@import 'modules/page.scss';
@import 'modules/signup-form.scss';
@import 'modules/submit-an-idea.scss';
@import 'modules/page-projects.scss';
@import 'modules/pagination.scss';