
/*	Official LHI color palette
	======================================================================== */

// Blue family
$blue-base: #006191;
$blue-dark: #004164;
$blue-light: #007ebf;

// Green family
$green-base: #769a2b;
$green-dark: #4e6f1d;
$green-light: #98c137;

// Gold family
$gold-base: #be9b04;
$gold-dark: #826e00;
$gold-light: #f6c10b;

// Neutral family
$gray-base: #6d7373;
$gray-dark: #20221d;
$gray-light: #bcc1c2;

/*	Additional web colors
	========================================================================== */

// Light gray background
$bg-gray: #e6e6e6;
$bg-gray-light: #fdfdfd;

// Base text color
$text: #444;
$text-light: $gray-base;

// Blue family alternates
$blue-darker: darken( $blue-dark, 4% );