/*	==========================================================================
	Handshake
	========================================================================== */

.Handshake {
	@extend .antialiased;
	display: none;
	
	@include min-width ( $bp-2 ) {
		position: absolute;
		top: 0;
		right: 10%;
		bottom: 0;
		width: 50%;
		display: block;

		&:after {
			position: absolute;
			top: 30%;
			bottom: 30%;
			@include rem('left', 0.5);
			display: block;
			content: "";
			@include rem('width', 1);
			border-left: 1px solid $gray-light;
		}
	}
}

.Handshake-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;

	.js.csstransitions & {
		opacity: 0;
	}
}

.Handshake-content {
	display: table-cell;
	vertical-align: middle;
	@include rem('padding-left', 1.5);
}

.Handshake-message {
	display: block;
	@include sans;
	text-transform: uppercase;
	color: #fff;
}

.Handshake-item.Handshake-item--animate-in {

	.csstransitions & {
		opacity: 1;
		animation: {
			name: animateIn;
			duration: 0.5s;
			iteration-count: 1;
			direction: normal;
			timing-function: ease-in-out;
			fill-mode: forwards;
			delay: 0s;
		}
	}

}

.Handshake-item.Handshake-item--animate-out {

	.csstransitions & {
		opacity: 0;
		animation: {
			name: animateOut;
			duration: 0.5s;
			iteration-count: 1;
			direction: normal;
			timing-function: ease-in-out;
			fill-mode: forwards;
			delay: 0s;
		}
	}

}

@keyframes animateIn {
	0% {
		transform: translateX(-0.5rem);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateX(0rem);
		opacity: 1;
	}
}

@keyframes animateOut {
	0% {
	//	transform: translateX(0px);
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
	//	transform: translateX(50px);
		opacity: 0;
	}
}