/*	==========================================================================
	Projects
	========================================================================== */

.Projects {
	@extend .clearfix;
	@include rem('padding', 1, 0);
	background: $blue-dark;

	@include min-width ( $bp-2 ) {
	}
}

.Projects-header {
}

.Projects-content {

}

.Projects-home-link {
	display: block;
	@include font-size(24);
	text-align: center;
	text-decoration: none;
	color: #fff;
	color: rgba(255,255,255,0.5);

	&:hover {
		color: #fff;
	}

	span {
		@extend .visuallyhidden;
	}
}

.Projects--list {
}

.Projects--single {
}

.Project--list {
	@include rem('padding', 0, 0, 1);

	@include min-width ( $bp-2 ) {
		float: left;
		@include rem('padding', 1);
		//width: 50%;

		.Projects--list-3 & {
			//width: 33.3333%;
		}
	}
}

.Project--single {

	@include min-width ( $bp-2 ) {
		@include rem('padding', 1);
	}
}

.Project-inner {
	display: block;
	text-decoration: none;
	color: $text;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
	overflow: hidden;

    &:hover {
        color: $text !important;
    }
}

.Project-image {
	display: table;
	width: 100%;
	min-height: 200px;
	color: #fff;
	background: {
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	&:hover {
		color: #fff !important;
	}
}

.Project-header {
	margin: 0;
	@include rem('padding', 0.5, 1);
	background: $gray-dark;
	color: #fff;
	border-bottom: 5px solid $gold-light;

	.Project--single & {
		@include rem('padding', 1, 2);

		@include min-width ( $bp-2 ) {
			padding-bottom: 0;
		}
	}
}

.Project-title {
	@extend .antialiased;
	margin: 0;
	@include sans;
	@include font-size(24);
	line-height: 1.2;

	.Project--single & {
		@include font-size(36);
	}
}

.Project-author {
	@extend .antialiased;
	margin: 0;
	@include sans;
	@include font-size(14);

	.Project--single & {
		@include font-size(18);
	}
}

.Project-menu {
	display: none;
	position: relative;
	margin: 0;

	@include min-width ( $bp-2 ) {
		display: block;
		margin-bottom: -5px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		display: block;
		@include rem('padding', 0.5, 1, 0.75);
		@include caps;
		text-decoration: none;
		color: #fff;
		border-radius: 2px 2px 0 0;
	}

	li.Tabs-menu-item--active a,
	li a:hover {
		color: $text !important;
		background: #fff;
	}

}

.Project-subheader {
	@include rem('padding', 0.5, 1);
	background: #ddd;
	@include sans;
	@include font-size(24);
	line-height: 1.3;
	background: #222;
	color: #fff;
	@extend .antialiased;
}

.Project-content {
	display: none;
	@include rem('padding', 1);
	background: #fff;

	.Project--list & {
		border-radius: 0 0 2px 2px;
	}

	@include min-width ( $bp-1 ) {
		display: block;
	}

	@include min-width ( $bp-2 ) {
	}

	.Project--single & {
		display: block;
		@include rem('padding', 1, 2);

        @include min-width ( $bp-3 ) {
            @include rem('padding-right', 16);
        }
	}
}

.Project-excerpt {
	@include sans;
	@include font-size(16);
	line-height: 1.5;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.read-more {
		display: none;
	}
}

.Project-tab {
	@include rem('padding-bottom', 1);
	border-bottom: 1px solid #ddd;

	@include min-width ( $bp-2 ) {
		margin: 0;
		padding: 0;
		border: none;
	}

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		border: none;
	}
}

.Project-footer {
	text-align: right;

	.caption {
		@include sans;
		@include font-size(11);
	}

}

.Project-footer-nav {
	@include rem('padding', 1);
	border-radius: 0 0 2px 2px;
	background: $bg-gray;

	ul {
		@extend .clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
	}

	li.next {
		float: right;
	}

	a {
		display: table;
		@include sans;
		@include font-size(16);
		text-decoration: none;
		color: $text;

		&:hover {
		}
	}

	i {
		display: table-cell;
		@include rem('padding', 0.5);
		@include font-size(14);
	}

	span {
		display: table-cell;
		@include rem('padding', 0.5);	
	}

}